<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello</h1>
{% extends './home.html' %}
{% block content %}
{% if answers %}
<div class="container-fluid">
    <form action="{% url 'polls:question' %}">
        {% for question in questions %}
        {{ forloop.counter }} {{ question.savol }}
        <br>
    <fieldset id="{{ question.id }}">
        {% for choice in question.choice_set.all %}
        <input type="radio" id="html" name="{{ question.id }}" value="{{ choice.id }}" ( required )>
        <label for="html">{{ choice.javob }}</label><br>
        {% endfor %}
    </fieldset>
        <hr>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>

{% else %}
<dl>
    {% for question in questions %}
    <dt><p>{{ forloop.counter }}. {{ question.savol }}</p></dt>
    {% for choice in question.choice_set.all %}
    {% if choice.correct %}
    <dd style="color: blue;">{{ choice.javob }}</dd>
    {% elif choice.id in answers %}
    <dd style="color: red;">{{ choice.javob }}</dd>
    {% else %}
    <dd>{{ choice.javob }}</dd>
    {% endif %}
    {% endfor %}
    <hr>
    {% endfor %}
</dl>


{% endif %}

{% endblock content %}


</body>
</html>

