<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello</h1>
{% extends './home.html' %}
{% block content %}

<div class="container-fluid">
    <form action="{% url 'polls:check' %}">
        {% for question in questions %}
        {{ forloop.counter }} {{ question.savol }}
        <br>
    <fieldset id="{{ question.id }}">
        {% for choice in question.choice_set.all %}
        <input type="radio" id="html" name="{{ question.id }}" value="{{ choice.id }}" ( required )>
        <label for="html">{{ choice.javob }}</label><br>
        {% endfor %}
    </fieldset>
        <hr>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}


</body>
</html>

